
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F5F5;
}
nav {
  background-color: #276678;
  color: #141313;

}
.nav-logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
}
.navbar {
  padding: 0.8rem;
  
}


.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.main{
  background-size: cover;
  height: 100vh;
  background-image: linear-gradient(rgba(211,224,234, 0.327),rgba(0, 0, 0, 0.6)) , url("./public/clement.jpg");
  color: whitesmoke;
}
.hero-name {
font-size: 4rem;
}
.hero-lead {
  font-size: 1.7rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(223, 223, 223); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(251, 251, 251) }
}
.btn-primary:hover {
  background-color: rgb(33, 76, 156);
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}

.projects {
  background-color: #D3E0EA;
}
.profile-img {
 border-radius: 2%;
 width: 300px;
 height: 250px;  
 background-image: linear-gradient(rgba(12, 161, 210, 0.327),rgba(255, 11, 11, 0.6))
}

.card {
  box-shadow: 0 10px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
cursor: pointer;
background-color:#F6F5F5 ;
}
.card:hover {
  transform: scale(1.04);
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.btn:hover{
  background-color: #48b3d1 ;
  color: #141313;
}
.btn-live {
  background-color: #1687A7;
  color: white;
}
.btn-code {
  background-color: #1687A7;
  color: white;
}
.btn-message {
  background-color: #1687A7;
  color: white;
}
.html-logo {
  color: #e54d26;
  height: 80px;
  width: 80px;
}
.bootstrap-logo {
  height: 80px;
  width: 80px;
}
.css-logo {
  height: 80px;
  width: 80px;
}
.react-logo {
  height: 80px;
  width: 80px;
}
.git-logo {
  height: 80px;
  width: 80px;
}
.js-logo {
  height: 80px;
  width: 80px;
  background-color:#323330;
}
.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}
.experience {
  background-color: #276678; 
}
.social a {
  font-size: 4.5em;
  padding: 2rem;
}
footer {
  background-color: #2c2a29;
  color: #d5d5d5;
  padding: 2rem;
}



footer a {
  color: #d5d5d5;
}


/*---Media Queries --*/

@media (max-width: 768px) {
  .hero-name {
    font-size: 2.8rem;
  }
  .hero-lead {
    white-space: pre-wrap;
    border-right: none;
    animation: none;
  }
  .btn-live {
    margin-bottom: 3px;
  }
  
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
